{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}page title{% endblock %}</title>
    {% include 'includes/header_links.html' %}
</head>

<body>
{% render_partial 'shop.views.header_component_view' %}

{% block content %}{% endblock %}

{% render_partial 'shop.views.footer_component_view' %}

{% include 'includes/footer_links.html' %}
</body>
</html>